{:highlights [{:id #uuid "6780f312-526d-4617-9ed2-e8a8e8718f38",
               :page 20,
               :position {:bounding {:x1 0,
                                     :y1 272.32501220703125,
                                     :x2 637,
                                     :y2 726.625,
                                     :width 637,
                                     :height 358.3125},
                          :rects ({:x1 53.820858001708984,
                                   :y1 272.32501220703125,
                                   :x2 608.7662963867188,
                                   :y2 285.9250183105469,
                                   :width 637,
                                   :height 358.3125}
                                  {:x1 48.60000228881836,
                                   :y1 286.7749938964844,
                                   :x2 248.79173278808594,
                                   :y2 300.375,
                                   :width 637,
                                   :height 358.3125}
                                  {:x1 0,
                                   :y1 368.3125,
                                   :x2 637,
                                   :y2 726.625,
                                   :width 637,
                                   :height 358.3125}),
                          :page 20},
               :content {:text "iawei Han, Jian Pei, and Yiwen Yin. 2000. Mining frequent patterns without candidate generation. In Proceedings of the 2000 ACM SIGMOD. [Citations: 9670]"},
               :properties {:color "red"}}
              {:id #uuid "6780f596-09d2-4ec0-b50e-c914e4bbece2",
               :page 22,
               :position {:bounding {:x1 272,
                                     :y1 252.7998046875,
                                     :x2 699,
                                     :y2 444.6248035430908,
                                     :width 791,
                                     :height 444.9375},
                          :rects (),
                          :page 22},
               :content {:text "[:span]", :image 1736504725294},
               :properties {:color "red"}}
              {:id #uuid "6780f9b6-12e4-472e-a73c-a449665e901d",
               :page 25,
               :position {:bounding {:x1 30,
                                     :y1 33,
                                     :x2 702,
                                     :y2 387,
                                     :width 791,
                                     :height 444.9375},
                          :rects (),
                          :page 25},
               :content {:text "[:span]", :image 1736505781722},
               :properties {:color "red"}}],
 :extra {:page 25}}
