{:highlights [{:id #uuid "6780078a-974d-4d33-a2d3-84ae55d4c318",
               :page 15,
               :position {:bounding {:x1 13.862500190734863,
                                     :y1 152.77499771118164,
                                     :x2 320.5249938964844,
                                     :y2 172.76250076293945,
                                     :width 638.9999999999999,
                                     :height 359.43749999999994},
                          :rects ({:x1 106.20000457763672,
                                   :y1 152.77499771118164,
                                   :x2 190.03005981445312,
                                   :y2 170.37500381469727,
                                   :width 638.9999999999999,
                                   :height 359.43749999999994}
                                  {:x1 200.6374969482422,
                                   :y1 152.77499771118164,
                                   :x2 227.9146270751953,
                                   :y2 170.37500381469727,
                                   :width 638.9999999999999,
                                   :height 359.43749999999994}
                                  {:x1 13.862500190734863,
                                   :y1 153.31250381469727,
                                   :x2 92.13750457763672,
                                   :y2 170.9125099182129,
                                   :width 638.9999999999999,
                                   :height 359.43749999999994}
                                  {:x1 238.53750610351562,
                                   :y1 154.09999465942383,
                                   :x2 286.3271179199219,
                                   :y2 171.70000076293945,
                                   :width 638.9999999999999,
                                   :height 359.43749999999994}
                                  {:x1 296.9375,
                                   :y1 154.09999465942383,
                                   :x2 320.5249938964844,
                                   :y2 171.70000076293945,
                                   :width 638.9999999999999,
                                   :height 359.43749999999994}
                                  {:x1 190.03750610351562,
                                   :y1 159.96249771118164,
                                   :x2 202.9499969482422,
                                   :y2 172.76250076293945,
                                   :width 638.9999999999999,
                                   :height 359.43749999999994}
                                  {:x1 227.9250030517578,
                                   :y1 159.96249771118164,
                                   :x2 240.83750915527344,
                                   :y2 172.76250076293945,
                                   :width 638.9999999999999,
                                   :height 359.43749999999994}
                                  {:x1 286.26251220703125,
                                   :y1 159.96249771118164,
                                   :x2 299.2375183105469,
                                   :y2 172.76250076293945,
                                   :width 638.9999999999999,
                                   :height 359.43749999999994}),
                          :page 15},
               :content {:text " f (x; w) = w0 + w1 · x + w2 · x2<latexit sha1_base64=\"HFPqM7z8JQo++kPWKICX1vEZEJ0=\">AAACZ3icfVFdS8MwFE3rd/3Y/EAEX6KboAxGO0QFEURffJzgVFjnSNN0C6ZNSVJ1lPojffPdF/+F6TZ1TvFCyLnn3pucnHgxo1LZ9qthTkxOTc/MzlnzC4tLheLyyrXkicCkgTnj4tZDkjAakYaiipHbWBAUeozcePfnef3mgQhJeXSlejFphagT0YBipDTVLj5bO+Vg9+nY9TjzZS/UW+qGSHVFmD5m2R48gV9p285gZSR1Mhf7XMEnWPkma5/kXa1sWeXeyX+nl9vFkl21+wF/A2cISmAY9XbxxfU5TkISKcyQlE3HjlUrRUJRzEhmuYkkMcL3qEOaGkYoJLKV9n3K4I5mfBhwoVekYJ8dnUhRKHOVujMXKcdrOflXrZmo4KiV0ihOFInw4KIgYVBxmJsOfSoIVqynAcKCaq0Qd5FAWOmvsbQJzviTf4PrWtU5qO5f1kqnZ0M7ZsEm2Aa7wAGH4BRcgDpoAAzeDMtYNdaMd7Ngrpsbg1bTGM6sgh9hbn0Ah0u4aw==</latexit> y = f (x; w)"},
               :properties {:color "yellow"}}
              {:id #uuid "678007b3-effa-477d-a5ff-6f13341d227c",
               :page 15,
               :position {:bounding {:x1 33.28750228881836,
                                     :y1 66.68749618530273,
                                     :x2 456.9939880371094,
                                     :y2 87.48750686645508,
                                     :width 638.9999999999999,
                                     :height 359.43749999999994},
                          :rects ({:x1 33.28750228881836,
                                   :y1 66.68749618530273,
                                   :x2 456.9939880371094,
                                   :y2 87.48750686645508,
                                   :width 638.9999999999999,
                                   :height 359.43749999999994}),
                          :page 15},
               :content {:text "A general-purpose framework for learning from data"},
               :properties {:color "yellow"}}],
 :extra {:page 15}}
