{:highlights [{:id #uuid "67800a13-8223-4782-b31d-07f321d2e6e3",
               :page 10,
               :position {:bounding {:x1 37.57500076293945,
                                     :y1 283.2249984741211,
                                     :x2 606.0820808410645,
                                     :y2 304.02501678466797,
                                     :width 640,
                                     :height 360},
                          :rects ({:x1 37.57500076293945,
                                   :y1 283.2249984741211,
                                   :x2 606.0820808410645,
                                   :y2 304.02501678466797,
                                   :width 640,
                                   :height 360}),
                          :page 10},
               :content {:text "Linear models can only describe the input/output relationship as a line."},
               :properties {:color "yellow"}}],
 :extra {:page 15}}
