{:highlights [{:id #uuid "67800a13-8223-4782-b31d-07f321d2e6e3",
               :page 10,
               :position {:bounding {:x1 37.57500076293945,
                                     :y1 283.2249984741211,
                                     :x2 606.0820808410645,
                                     :y2 304.02501678466797,
                                     :width 640,
                                     :height 360},
                          :rects ({:x1 37.57500076293945,
                                   :y1 283.2249984741211,
                                   :x2 606.0820808410645,
                                   :y2 304.02501678466797,
                                   :width 640,
                                   :height 360}),
                          :page 10},
               :content {:text "Linear models can only describe the input/output relationship as a line."},
               :properties {:color "yellow"}}
              {:id #uuid "67800ac8-2ad5-4391-bbbb-3825828936c6",
               :page 17,
               :position {:bounding {:x1 4,
                                     :y1 212,
                                     :x2 233,
                                     :y2 238,
                                     :width 637,
                                     :height 358.3125},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1736444613865},
               :properties {:color "yellow"}}
              {:id #uuid "67800ae7-0bf0-4a60-b1f4-366f4273117f",
               :page 17,
               :position {:bounding {:x1 4,
                                     :y1 43,
                                     :x2 630,
                                     :y2 329,
                                     :width 637,
                                     :height 358.3125},
                          :rects (),
                          :page 17},
               :content {:text "[:span]", :image 1736444645993},
               :properties {:color "red"}}],
 :extra {:page 18}}
