{:highlights [{:id #uuid "67800d08-e073-4d85-9339-1e96d715f378",
               :page 4,
               :position {:bounding {:x1 5,
                                     :y1 49,
                                     :x2 636,
                                     :y2 317,
                                     :width 637,
                                     :height 358.3125},
                          :rects (),
                          :page 4},
               :content {:text "[:span]", :image 1736445190668},
               :properties {:color "green"}}
              {:id #uuid "67800d30-ffb3-4e4f-9c58-215ce8976b30",
               :page 8,
               :position {:bounding {:x1 9,
                                     :y1 48.800048828125,
                                     :x2 632,
                                     :y2 331.800048828125,
                                     :width 637,
                                     :height 358.3125},
                          :rects (),
                          :page 8},
               :content {:text "[:span]", :image 1736445231299},
               :properties {:color "blue"}}],
 :extra {:page 17}}
