{:highlights [{:id #uuid "67c1fb9a-de3d-417b-8071-f7f921fda936",
               :page 10,
               :position {:bounding {:x1 0,
                                     :y1 74.5625,
                                     :x2 799,
                                     :y2 908.875,
                                     :width 799,
                                     :height 449.4375},
                          :rects ({:x1 28.328125,
                                   :y1 74.5625,
                                   :x2 215.70587158203125,
                                   :y2 96.5625,
                                   :width 799,
                                   :height 449.4375}
                                  {:x1 425.453125,
                                   :y1 365.34375,
                                   :x2 498.4698486328125,
                                   :y2 380.34375,
                                   :width 799,
                                   :height 449.4375}
                                  {:x1 204.6875,
                                   :y1 366.015625,
                                   :x2 299.59375,
                                   :y2 381.015625,
                                   :width 799,
                                   :height 449.4375}
                                  {:x1 4.421875,
                                   :y1 429.59375,
                                   :x2 181.52243041992188,
                                   :y2 443.59375,
                                   :width 799,
                                   :height 449.4375}
                                  {:x1 0,
                                   :y1 459.4375,
                                   :x2 799,
                                   :y2 908.875,
                                   :width 799,
                                   :height 449.4375}),
                          :page 10},
               :content {:text "Image Segmentation Downsampling Upsampling[Image from Bishop 2024 DL Book]"},
               :properties {:color "red"}}
              {:id #uuid "67c1fbb1-3ba3-4c17-87ec-27ec069bab0e",
               :page 10,
               :position {:bounding {:x1 0,
                                     :y1 0,
                                     :x2 799,
                                     :y2 908.875,
                                     :width 799,
                                     :height 449.4375},
                          :rects ({:x1 0,
                                   :y1 0,
                                   :x2 799,
                                   :y2 449.4375,
                                   :width 799,
                                   :height 449.4375}
                                  {:x1 0,
                                   :y1 459.4375,
                                   :x2 799,
                                   :y2 908.875,
                                   :width 799,
                                   :height 449.4375}),
                          :page 10},
               :content {:text "Image Segmentation Downsampling Upsampling[Image from Bishop 2024 DL Book]"},
               :properties {:color "red"}}],
 :extra {:page 22}}
