{:highlights [{:id #uuid "67c1e2f6-1a59-4e0d-af70-7f37fc1dbf80",
               :page 5,
               :position {:bounding {:x1 13,
                                     :y1 58,
                                     :x2 306,
                                     :y2 411,
                                     :width 769.9999999999999,
                                     :height 433.12499999999994},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1740759796882},
               :properties {:color "yellow"}}
              {:id #uuid "67c1e30c-ca6c-4022-b6a8-ad1b110711e9",
               :page 5,
               :position {:bounding {:x1 335,
                                     :y1 59,
                                     :x2 762,
                                     :y2 395,
                                     :width 769.9999999999999,
                                     :height 433.12499999999994},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1740759818279},
               :properties {:color "red"}}],
 :extra {:page 8}}
