{:highlights [{:id #uuid "67c1e2f6-1a59-4e0d-af70-7f37fc1dbf80",
               :page 5,
               :position {:bounding {:x1 13,
                                     :y1 58,
                                     :x2 306,
                                     :y2 411,
                                     :width 769.9999999999999,
                                     :height 433.12499999999994},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1740759796882},
               :properties {:color "yellow"}}
              {:id #uuid "67c1e30c-ca6c-4022-b6a8-ad1b110711e9",
               :page 5,
               :position {:bounding {:x1 335,
                                     :y1 59,
                                     :x2 762,
                                     :y2 395,
                                     :width 769.9999999999999,
                                     :height 433.12499999999994},
                          :rects (),
                          :page 5},
               :content {:text "[:span]", :image 1740759818279},
               :properties {:color "red"}}
              {:id #uuid "67c1e379-0057-483d-b317-1b3b564e6677",
               :page 10,
               :position {:bounding {:x1 22,
                                     :y1 107,
                                     :x2 358,
                                     :y2 290,
                                     :width 769.9999999999999,
                                     :height 433.12499999999994},
                          :rects (),
                          :page 10},
               :content {:text "[:span]", :image 1740759927527},
               :properties {:color "green"}}
              {:id #uuid "67c1e5ba-72a6-4e05-9c37-550889440829",
               :page 18,
               :position {:bounding {:x1 477,
                                     :y1 331,
                                     :x2 769,
                                     :y2 391,
                                     :width 769.9999999999999,
                                     :height 433.12499999999994},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1740760505288},
               :properties {:color "yellow"}}
              {:id #uuid "67c1e5d8-78cb-4bce-91b7-be56098718f4",
               :page 19,
               :position {:bounding {:x1 17,
                                     :y1 53,
                                     :x2 585,
                                     :y2 410,
                                     :width 769.9999999999999,
                                     :height 433.12499999999994},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1740760535076},
               :properties {:color "red"}}
              {:id #uuid "67c1e63d-1514-4355-8aae-f95ede0fe754",
               :page 21,
               :position {:bounding {:x1 578,
                                     :y1 289,
                                     :x2 766,
                                     :y2 405,
                                     :width 769.9999999999999,
                                     :height 433.12499999999994},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1740760635532},
               :properties {:color "red"}}
              {:id #uuid "67c1e67d-6c40-4fd7-8e6b-3d8d39ade8a5",
               :page 21,
               :position {:bounding {:x1 18,
                                     :y1 60,
                                     :x2 581,
                                     :y2 417,
                                     :width 769.9999999999999,
                                     :height 433.12499999999994},
                          :rects (),
                          :page 21},
               :content {:text "[:span]", :image 1740760700218},
               :properties {:color "red"}}],
 :extra {:page 2}}
