{:highlights [{:id #uuid "67b051d3-9c53-4498-9cd3-268975ee8efd",
               :page 9,
               :position {:bounding {:x1 0,
                                     :y1 100.02500915527344,
                                     :x2 640,
                                     :y2 730,
                                     :width 640,
                                     :height 360},
                          :rects ({:x1 60.125,
                                   :y1 100.02500915527344,
                                   :x2 299.8218078613281,
                                   :y2 120.82501220703125,
                                   :width 640,
                                   :height 360}
                                  {:x1 48.42499923706055,
                                   :y1 124.61251831054688,
                                   :x2 193.86770629882812,
                                   :y2 145.41250610351562,
                                   :width 640,
                                   :height 360}
                                  {:x1 48.42499923706055,
                                   :y1 149.25,
                                   :x2 238.7965087890625,
                                   :y2 170.05001831054688,
                                   :width 640,
                                   :height 360}
                                  {:x1 48.42499923706055,
                                   :y1 173.80001831054688,
                                   :x2 144.55870056152344,
                                   :y2 194.60000610351562,
                                   :width 640,
                                   :height 360}
                                  {:x1 48.42499923706055,
                                   :y1 198.38751220703125,
                                   :x2 104.0418701171875,
                                   :y2 219.1875,
                                   :width 640,
                                   :height 360}
                                  {:x1 48.42499923706055,
                                   :y1 223.02499389648438,
                                   :x2 109.689453125,
                                   :y2 243.82501220703125,
                                   :width 640,
                                   :height 360}
                                  {:x1 48.42499923706055,
                                   :y1 247.57501220703125,
                                   :x2 334.7178649902344,
                                   :y2 268.375,
                                   :width 640,
                                   :height 360}
                                  {:x1 48.42499923706055,
                                   :y1 272.1625061035156,
                                   :x2 292.75738525390625,
                                   :y2 292.9624938964844,
                                   :width 640,
                                   :height 360}
                                  {:x1 48.42499923706055,
                                   :y1 296.8125,
                                   :x2 156.5933074951172,
                                   :y2 317.6125183105469,
                                   :width 640,
                                   :height 360}
                                  {:x1 622.6000366210938,
                                   :y1 335.6000061035156,
                                   :x2 627.0499877929688,
                                   :y2 344.3999938964844,
                                   :width 640,
                                   :height 360}
                                  {:x1 0,
                                   :y1 370,
                                   :x2 640,
                                   :y2 730,
                                   :width 640,
                                   :height 360}),
                          :page 9},
               :content {:text "Natural Language Toolkit (NLTK)• Stanford CoreNLP• CMU ARK for Noisy Text• Scikit-learn• Spacy• Stanza• Shallow Parser - for Indian Language• Universal Parser - Multi-lingual• HuggingFace9"},
               :properties {:color "yellow"}}],
 :extra {:page 33}}
